body{
    background-color: white;
}

.wrapper{
    background-color: lightblue;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

.task-input{
    height: 30px;
    padding: 0 5px;
}

.task-input button {
    height: 30px;
}

.task-input input{
height: 100%;
width: 300px;
margin-top: 5px;
padding: 0 20px 0 20px;
}

.task-list {
    padding-left: 0;
}

.task-list .task{
list-style:none;
width: 380px;
margin: 5% 0;
border: 2px solid blue;
}
.task .settings{
    position:absolute;
}

.task label{
    display: flex;
}

.task label input{
    margin-right:10px;
}

.task label button, li{
    display:flex;
    align-items: center;
}

.task label button{
    margin-right: 10px;
}

.task button {
    position: sticky;
    overflow-wrap: break-word;
}

#edit {
    left: 70%;
}

#delete {
    left: 80%;
}

p {
    max-width: 230px;
}

p.checked{
    text-decoration: line-through;
}
