body{
    background-color: white;
}

.wrapper{
    background-image: url('https://st3.depositphotos.com/24452164/32234/i/450/depositphotos_322346026-stock-photo-grunge-background-texture-design.jpg');
    border-radius: 10px;
    width: 400px;
    height: 600px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

.task-input{
    height: 30px;
    padding: 0 5px;
}

.task-input button {
    height: 30px;
    color:blue;
    transition-duration: 0.4s;
}

.task-input button:hover {
    background-color:green;
}

.task-input input{
height: 100%;
width: 300px;
margin-top: 5px;
padding: 0 20px 0 20px;
color:blue;
border: 2px solid blue;
}

.task-list {
    padding-left: 0;
}

.task-list .task{
list-style:none;
width: 380px;
margin: 5% 0;
border: 2px solid yellow;
border-radius:5px;
background-color:rgba(255, 0, 0, 0.5);
}

.task .settings{
    position:absolute;
}

.task label{
    display: flex;
    margin-left: 10px;
}

.task label input{
    margin-right:10px;
}

.task label button, li{
    display:flex;
    align-items: center;
}

.task label button{
    margin-right: 10px;
}

.task button {
    position: sticky;
    overflow-wrap: break-word;
    transition-duration: 0.4s;
}

.task button:hover {
    background-color:yellow;
}

#edit {
    left: 70%;
    color: blue;
}

#delete {
    left: 80%;
    color: red;
}

p {
    max-width: 220px;
    color:white;
}

p.checked {
    text-decoration: line-through;
}
